<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <ul>
                    <li>&copy; 2016 <a href="http://www.gabedeyo.com">Gabe Deyo</a></li>
                    <li>|</li>
                    <li><a href="mailto:gabedeyo@gmail.com?subject=Algorithms">gabedeyo@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
