<script nonce="{{nonce}}">
    window.ga = window.ga || function() {
        (ga.q = ga.q || []).push(arguments)
    };
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview');
</script>
<script nonce="{{nonce}}" async src='https://www.google-analytics.com/analytics.js'></script>
