<nav class="navbar navbar-inverse">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsemenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="./" class="navbar-brand">
                Algorithms
            </a>
        </div>

        <div class="collapse navbar-collapse" id="collapsemenu">
            <ul class="nav navbar-nav">
                <li><a href="./breadth-first">Breadth First</a></li>
                <li><a href="./depth-first">Depth First</a></li>
                <li><a href="./binary-search">Binary Search</a></li>
                <li><a href="./merge-sort">Merge Sort</a></li>
                <li><a href="./quick-sort">Quick Sort</a></li>
                <li><a href="./tree">Tree</a></li>
                <li><a href="./cloth">Cloth</a></li>
                <li><a href="./hash-table">Hash Table</a></li>
            </ul>
        </div>

    </div>
</nav>
