<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title></title>

        <meta name="description" content="">
        <meta name="author" content="IBI Data" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

        <!-- MOBILE META TAGS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=yes">

        <!--[if lt IE 10]>

        <base href="{{{config.site.src}}}{{{config.site.url}}}/"></base>

        <![endif]-->

        <!--[if gt IE 9]>-->

        <base href="{{{config.site.url}}}/" />

        <!--<![endif]-->

        <link rel="stylesheet" href="./assets/css/main.min.css">

        <link rel="shortcut icon" href="./assets/img/favicon.png">
        <link rel="apple-touch-icon" href="./assets/img/favicon.png">

    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {{> topnav}}

        {{{body}}}

        {{> footer}}

        {{> ga}}

    </body>
</html>
