<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3>Breadth-First Search</h3>
                <p>Breadth-first search (BFS) is an algorithm for traversing or searching tree or graph data structures. It starts at the tree root
                (or some arbitrary node of a graph) and explores the nieghbor nodes first, before moving to the next level neighbors.</p>
              </div>
            </div>
        </div>
        <div class="jumbotron text-center col-md-9">
            <h2>Breadth-First Search</h2>
            <canvas id="testCanvas">
                Canvas not supported
            </canvas>
        </div>
    </div>
</div>

<script nonce="{{nonce}}" src="./assets/js/breadthFirst.min.js"></script>
