<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3>Depth-First Search</h3>
                <p>These three search algorithms are know as Depth-First Searches. The search tree is deepened as much as possible on each child before going to the next sibling. For a binary tree, they are defined as display operations recursively at each node, starting with the root </p>
                <hr>
                <h4>Pre Order</h4>
                <p>Typically not used in ordering trees.<br> Can be used to developed equations in trees.</p>
                <hr>
                <h4>In Order</h4>
                <p>Used to visit each Tree Node in order.</p>
                <hr>
                <h4>Post Order</h4>
                <p>Typically not used in ordering trees.<br> Can be used to developed equations in trees.</p>
              </div>
            </div>
        </div>
        <div class="jumbotron text-center col-md-9">
            <h2>Depth-First Search</h2>
            <canvas id="testCanvas">
                Canvas not supported
            </canvas>
        </div>
    </div>
</div>

<script nonce="{{nonce}}" src="./assets/js/depthFirst.min.js"></script>
