<div class="container">
    <div class="row">

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Hash Table Info</h2>
                </div>
            </div>
        </div>

        <div class="jumbotron text-center col-md-9">
            <h2>Hash Table</h2>
            <canvas id="testCanvas">
                Canvas not supported
            </canvas>
        </div>
    </div>
</div>


<script nonce="{{nonce}}" src="./assets/js/hashTable.min.js"></script>
