<div class="container">
    <div class="row">

        <div class="jumbotron">
            <h2 class="text-center">Algorithms</h2>
            <ul class="list-group">
                <a href="./breadth-first" class="list-group-item">
                    <h3 class="list-group-item-heading"><span class="fa fa-search" aria-hidden="true"></span><span class="fa fa-chevron-right pull-right" aria-hidden="true"></span> Breadth First Search</h3>
                    <p class="list-group-item-text">Breadth-first search (BFS) is an algorithm for traversing or searching tree or graph data structures. It starts at the tree root
                    (or some arbitrary node of a graph) and explores the nieghbor nodes first, before moving to the next level neighbors.</p>
                </a>
                <a href="./depth-first" class="list-group-item">
                    <h3 class="list-group-item-heading"><span class="fa fa-search" aria-hidden="true"></span><span class="fa fa-chevron-right pull-right" aria-hidden="true"></span> Depth First Search</h3>
                    <p class="list-group-item-text">Information about Algorithm</p>
                </a>
                <a href="./binary-search" class="list-group-item">
                    <h3 class="list-group-item-heading"><span class="fa fa-search" aria-hidden="true"></span><span class="fa fa-chevron-right pull-right" aria-hidden="true"></span> Binary Search</h3>
                    <p class="list-group-item-text">Binary search is an efficient algorithm for finding an item from an ordered list of items. It works by repeatedly dividing in half the portion of the list that could contain the item, until you've narrowed down the possible locations to just one.</p>
                </a>
                <a href="./merge-sort" class="list-group-item">
                    <h3 class="list-group-item-heading"><span class="fa fa-sort-amount-desc" aria-hidden="true"></span><span class="fa fa-chevron-right pull-right" aria-hidden="true"></span> Merge Sort</h3>
                    <p class="list-group-item-text">Information about Algorithm</p>
                </a>
                <a href="./quick-sort" class="list-group-item">
                    <h3 class="list-group-item-heading"><span class="fa fa-sort-amount-desc" aria-hidden="true"></span><span class="fa fa-chevron-right pull-right" aria-hidden="true"></span> Quick Sort</h3>
                    <p class="list-group-item-text">Information about Algorithm</p>
                </a>
                <a href="./tree" class="list-group-item">
                    <h3 class="list-group-item-heading"><span class="fa fa-tree" aria-hidden="true"></span><span class="fa fa-chevron-right pull-right" aria-hidden="true"></span> Tree Insertion / Find / etc.</h3>
                    <p class="list-group-item-text">Information about Algorithm</p>
                </a>
                <a href="./cloth" class="list-group-item">
                    <h3 class="list-group-item-heading"><span class="fa fa-table" aria-hidden="true"></span><span class="fa fa-chevron-right pull-right" aria-hidden="true"></span>
                        Cloth Simulation</h3>
                    <p class="list-group-item-text">Information about Algorithm</p>
                </a>
                <a href="./testing" class="list-group-item">
                    <h3 class="list-group-item-heading"><span class="fa fa-table" aria-hidden="true"></span><span class="fa fa-chevron-right pull-right" aria-hidden="true"></span>
                        Testing</h3>
                    <p class="list-group-item-text">Information about Algorithm</p>
                </a>
            </ul>
        </div>

    </div>
</div>

<script nonce="{{nonce}}" src="./assets/js/home.min.js"></script>
