<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3>Merge Sort</h3>
                <p>Information about algorithm</p>
              </div>
            </div>
        </div>
        <div class="jumbotron text-center col-md-9">
            <h2>Merge Sort</h2>
            <canvas id="testCanvas">
                Canvas not supported
            </canvas>
        </div>
    </div>
</div>

<script nonce="{{nonce}}" src="./assets/js/mergeSort.min.js"></script>
