<div class="container">
    <div class="row">
        <div class="jumbotron text-center">
            <h1>Testing</h1>
        </div>
    </div>
</div>

<script nonce="{{nonce}}" src="./assets/js/testing.min.js"></script>
