﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Error Occured</title>
</head>
    <body style="background-color:#f3f3f3">
        <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="f3f3f3" id="backgroundTable" >
            <tr>
                <td align="center" valign="top">
                    <br /><br />
                    <table width="600" cellpadding="0" cellspacing="0" border="0" style="padding: 0; border: 0 none; margin: 0; border-top:solid 6px #0b3e51">
                        <tr>
                            <td bgcolor="FFFFFF" width="600">
                                <div style="margin:30px 30px 50px;">
                                    <p style="font-family:'PT Sans', Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; color:#0b3e51; font-size:35px; line-height:25px;">There was an error on the site...</p>

                                    <!-- ERROR URL -->
                                    <p style="font-family:'PT Sans', Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; color:#424242; font-size:15px;  line-height:20px;">
                                        <strong>URL:</strong>
                                        {{{url}}}
                                    </p>


                                    <!-- ERROR URL -->
                                    <p style="font-family:'PT Sans', Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; color:#424242; font-size:15px;  line-height:20px;">
                                        <strong>Client:</strong>
                                        {{client}}
                                    </p>

                                    <!-- ERROR METHOD -->
                                    <p style="font-family:'PT Sans', Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; color:#424242; font-size:15px;  line-height:20px;">
                                        <strong>Method:</strong>
                                        {{method}}
                                    </p>


                                    <!-- ERROR MESSAGE -->
                                    <p style="font-family:'PT Sans', Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; color:#424242; font-size:15px;  line-height:5px;">
                                        <strong>Message:</strong>
                                    </p>
                                    <p style="font-size:14px; line-height:14px; font-family:'Courier New'; font-weight:bold; color:#424242; margin-top:5px ">
                                        {{{err}}}
                                    </p>



                                    <!-- FORM BODY -->
                                    <p style="font-family:'PT Sans', Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; color:#424242; font-size:15px;  line-height:5px;">
                                        <strong>Form Body:</strong>
                                    </p>
                                    <p style="font-size:14px; line-height:14px; font-family:'Courier New'; font-weight:bold; color:#424242; margin-top:5px ">
                                        {{body}}
                                    </p>


                                    <!-- FORM JSON -->
                                    <p style="font-family:'PT Sans', Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; color:#424242; font-size:15px;  line-height:5px;">
                                        <strong>Form JSON:</strong>
                                    </p>
                                    <p style="font-size:14px; line-height:14px; font-family:'Courier New'; font-weight:bold; color:#424242; margin-top:5px ">
                                        {{json}}
                                    </p>

                                    <!-- SESSION VARIABLES -->
                                    <p style="font-family:'PT Sans', Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; color:#424242; font-size:15px;  line-height:5px;">
                                        <strong>Session Variables:</strong>
                                    </p>
                                    <p style="font-size:14px; line-height:14px; font-family:'Courier New'; font-weight:bold; color:#424242; margin-top:5px ">
                                        {{session}}
                                    </p>


                                    <!-- USER AGENT -->
                                    <p style="font-family:'PT Sans', Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif; color:#424242; font-size:15px;  line-height:5px;">
                                        <strong>User Agent:</strong>
                                    </p>
                                    <p style="font-size:14px; line-height:14px; font-family:'Courier New'; font-weight:bold; color:#424242; margin-top:5px ">
                                        {{useragent}}
                                    </p>



                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>