﻿@font-face {
    font-family: 'ibiFont';
    src:url('../fonts/ibiFont.eot?74crdy');
    src:url('../fonts/ibiFont.eot?74crdy#iefix') format('embedded-opentype'),
        url('../fonts/ibiFont.ttf?74crdy') format('truetype'),
        url('../fonts/ibiFont.woff?74crdy') format('woff'),
        url('../fonts/ibiFont.svg?74crdy#ibiFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ib-icon-"], [class*=" ib-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ibiFont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ib-icon-logo:before {
    content: "\e600";
}
.ib-icon-text:before {
    content: "\e601";
}

