@import "variables.less";
@import "table.less";
@import "portlet.less";
@import "form.less";



/*Selection Colors*/
/*::-moz-selection {
    background: @brand-primary;
    color:#FFF;
    text-shadow: none;
}

::selection {
    background: @brand-primary;
    color:#FFF;
    text-shadow: none;
}*/

.navbar-inverse{
    border: none;
}

footer{
    background: #666;
    position: relative;

    clear: both;
    max-width: 100%;
}

footer ul{
    margin: 0;
}

footer ul li{
    display: inline-block;
    text-decoration: none;
    padding: 10px 5px 10px 0;

    color: rgba(255, 255, 255, 0.7);

    a{
        color: rgba(255, 255, 255, 0.7);

        &:hover{
            color: #fff;
            text-decoration: none;
        }

        &:active, &:visited, &:focus{
            color: rgba(255, 255, 255, 0.7);
            text-decoration: none;
        }
    }
}

canvas {
    padding: 0;
    margin: auto;
    display: block;

    border-radius: 2px;
    border: 1px solid #666;
}
