﻿/* browsers require these rules separate */
::-web inputkit-input-placeholder {
  color: #E0E0E0 !important;
}
::-moz input-placeholder {
  color: #E0E0E0 !important;
}

.form-horizontal {

    .control-label {
        font-weight: normal;
        text-align: left;
        color: @gray;
    }

    .form-control {
        border-radius: 0;
        .transition(all ease-out 0.2s);
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.15);

        &:focus {
            border-color: @mutedBlue;
            box-shadow: inset 3px 0 0 @mutedBlue;
        }
    }

    input[type="checkbox"] {
        float: left;

        & + label {
            font-weight: normal;
            float: left;
            font-size: 12px;
            margin: 3px 0 0 5px;
        }

    }
}

.error {
    border-color: @mutedRed !important;
    color: @mutedRed !important;

    &:focus {
            box-shadow: inset 3px 0 0 @mutedRed !important;
    }
}

.errorRd {
   // border: 1px solid @mutedRed;
    border-color: @mutedRed !important;
    box-shadow: 0px 0px 4px 0px @mutedRed !important;
    color:@mutedRed !important;
}