@contentBackground: #F6F6F6;

.portlet{
	border: solid 1px darken(@contentBackground,10);
	margin-bottom:20px;
	border-radius:0;
    .box-shadow(~"0 4px 4px -4px rgba(0,0,0,0.15)");
    	
	.portlet-title{
		background-color: #333;
		padding:10px 5px 10px 14px;
		margin:0;
		font-weight:normal;
		font-family: SourceSansPro;
		font-size: 18px;
        color:#FFF;


		.portlet-title-buttons{
			float: right;

			a{
				color:#000;
                text-shadow:0 1px 1px rgba(255,255,255,0.1);
                .transition(all linear 0.1s);

                &:hover{
                    text-decoration:none;
                    color:#FFF;
                    text-shadow:0 0 3px rgba(255,255,255,0.2);
                }
			}
		}

		i{
			font-size: 18px;
			margin-right: 8px;
		}


		.portlet-title-menu{

			float: right;
			list-style:none;
			padding:0;
			margin:0;
			
			a.dropdown-toggle{
				
				display: block;
				width: 30px;
				text-align: center;
				border-left: solid 1px #CCC;
				.box-shadow(inset 1px 0 0 #EEE);
				line-height: 25px;
				font-size: 18px;
				color: #333;
				padding: 5px 0 0;
				#gradient > .vertical(lighten(@contentBackground, 5), darken(@contentBackground,13));
				border-radius:0 3px 0 0;

				&:hover{
					#gradient > .vertical(lighten(@contentBackground, 10), darken(@contentBackground,8));
				}
			}
		}
	}
	
	.portlet-content{
		padding:15px;
		position:relative;
		overflow:none;
		background-color: #FFF;
		border-top: solid 1px #FFF;
	}

	.portlet-table{
		padding:15px;
		position:relative;
		overflow:auto;
	}

	.portlet-form{
		padding:10px 25px;
	}
	
	.portlet-content-center{
		text-align:center;
	}
	
	
	.portlet-footer{
		border-top: solid 1px darken(@contentBackground,15);
		#gradient > .vertical(lighten(@contentBackground, 3), darken(@contentBackground,3));
		.box-shadow(~"0 -2px 5px -1px rgba(0,0,0,0.1), inset 0 1px 0 #FFF, inset 0 -1px 3px rgba(255,255,255,0.3)");
		padding:6px;		
		overflow:auto;
		text-align:right;
		
	}
	
	
	.portlet-navlist{
		padding:0;

		ul{
			list-style: none;
			padding: 0;
			margin: 0;


			li{

				&:first-child a{
					.box-shadow(inset 0 2px 1px rgba(0,0,0,0.1));
					border-top: 0;
				}

				&:last-child a{
					border-radius:0 0 2px 2px;
					border-bottom: 0;
				}

			}


			a{
				font-size: 12px;
				line-height: 25px;
				display: block;
				padding: 4px 0 4px 8px;
				text-shadow:0 1px #FFF;
				text-decoration: none;
				border-top: solid 1px #FFF;
				border-bottom: solid 1px #F3F3F3;
				#gradient > .vertical(lighten(@contentBackground, 5), lighten(@contentBackground, 4));
				background-color: lighten(@contentBackground, 4);
				position: relative;
				color: #888;

				.transition(all linear 0.1s);


				i{
					padding-right: 4px;
				}

				&:after{
					content: '';
					display: block;
					border:solid 4px transparent;
					border-left-color:#444;
					position: absolute;
					right:4px;
					top:11px;
				}

				&:hover{
					background-position: 0 -15px;
					color: #222;
					padding-left: 10px;

					&:after{
						right:3px;
					}

				}

			}



		}

	}
	
	
}