.table-data{
  th,
  td {
    padding: 3px 4px;
	font-size:11px;
  }
}

.table-no-head{
  tr:first-child td{
	border-top-color:transparent;
  }
}

.table-highlight{
	tbody tr td{
		.transition(all linear 0.2s);
	}
	tbody tr:hover td{
		background-color:darken(@table-bg-accent,2);
	}
	
	
}

.table-double-head{
	tbody tr:first-child{
		border-top:double darken(@table-border-color,3);
	}
	
}

//Use this if table is inside of a portlet
.table-portlet{
	margin-bottom:0;
    border: 1px solid @table-border-color;
    border-collapse:separate;
    border-radius:4px;
    .box-shadow(0 1px 2px rgba(0,0,0,0.05));

    tr th{

        border-right: solid 1px darken(@gray-lighter, 5%);
        border-left: solid 1px lighten(@gray-lighter,5%);

        #gradient > .vertical(lighten(@gray-lighter,5%), @gray-lighter);
        .box-shadow(inset 0 1px rgba(255,255,255,0.8));

        &:first-child{
            border-radius:4px 0 0 0;
            
        }

        &:last-child{
            border-radius:0 4px 0 0;
            
        }
    }

    tbody tr:last-child td:first-child{
        border-radius:0 0 0 4px;
    }

    tbody tr:last-child td:last-child{
        border-radius:0 0 4px 0;
    }

}




//Use this if you want tables to sort
.table-sort{
	th{
		padding:0;
	}

	.tablesorter-header a{
		display: block;
		position: relative;
		padding:8px;
        color:@gray-dark;
        text-decoration:none;

        &:hover{
            color:lighten(@gray-dark, 10%);
        }
        

		&:after{
			content:"";
			display: block;
			border:solid 3px transparent;
			border-bottom-color: #000; 
			position: absolute;
			right:8px;
			top:11px;
		}

		&:before{
			content:"";
			display: block;
			border:solid 3px transparent;
			border-top-color: #000; 
			position: absolute;
			right:8px;
			bottom:11px;
		}
	}

	.tablesorter-headerAsc a:before{
		border-color:transparent;
	}

	.tablesorter-headerDesc a:after{
		border-color:transparent;
	}

	&.table-data{
		th{
			padding:0;
		}

		.tablesorter-header a{
			display: block;
			position: relative;
			padding:4px;

			&:after{
				top:7px;
			};

			&:before{
				bottom:7px;
			};
		}
	}
}



//table-buttons
td.table-buttons a{
    font-size:18px;
    float:right;
    margin-left:10px;
}