﻿// Social Media Colors
// -------------------------
@facebook:		        #3B5998;
@facebook2:		        #6d84b4;
@facebook3:		        #afbdd4;
@facebook4:		        #d8dfea;
@flickr:                #FE0883;
@flickr2:               #0063dc;
@foursquare:            #8FD400;
@googleplus:            #C63D2D;
@googleblue:            #0266C8;
@googlered:             #F90101;
@googleyellow:          #F2B50F;
@googlegreen:           #00933B;
@instagram:             #4E433C;
@linkedin:              #4875B4;
@pinterest:		        #910101;
@rss:			        #FA9B39;
@tumblr:		        #34526F;
@twitter:		        #0084b4;
@twitter2:		        #00aced;
@twitter3:		        #1dcaff;
@twitter4:		        #c0deed;
@vimeo:                 #44BBFF;
@vimeo2:		        #AAD450;
@youtube:		        #C4302B;

// Muted Accent colors
// -------------------------
@mutedBlue:            #72ABBC;
@mutedBlueDark:        #437496;
@mutedGreen:           #77AA7A;
@mutedRed:             #b94848;
@mutedYellow:          #d3cf58;
@mutedOrange:          #de974a;
@mutedPink:            #dd6fa8;
@mutedPurple:          #98709d;